/* Global ruls */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
:root {
  --min-color: #19c8fa;
  --min-color-opacity: #19c9fa8e;
  --min-text-color: #333;
  --min-height: 60px;
  --min-nav-siz: 15px;
}
::selection {
  color: #fff;
  background-color: var(--min-color-opacity);
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Open Sans", sans-serif;
  background-color: #212e3a;
}
.container {
  padding-left: 10px;
  padding-right: 10px;
  margin-left: auto;
  margin-right: auto;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  cursor: pointer;
}
input {
  all: unset;
}
.special-grid {
  display: grid;
  grid-template-columns: repeat(13, 1fr);
  grid-template-rows: repeat(8, auto);
}
.special-back {
  background-color: #fff;
}
.special-transition {
  transition: 0.7s;
  -webkit-transition: 0.7s;
  -moz-transition: 0.7s;
  -ms-transition: 0.7s;
  -o-transition: 0.7s;
}
.save-titel {
  width: 50%;
  padding-top: 50px;
  padding-bottom: 50px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
@media (max-width: 775px) {
  .save-titel {
    width: 60%;
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
.save-titel h4 {
  color: #fff;
  font-size: 30px;
  letter-spacing: 2px;
  color: #1f2021;
  font-weight: 400;
  text-align: center;
  width: 100%;
}
.save-titel hr {
  width: 99px;
  height: 1px;
  border: 0;
  border-radius: 4px;
  background-color: #1f2021;
  position: relative;
  margin: 10px 0;
}
.save-titel hr::after {
  content: "";
  position: absolute;
  background-color: #fff;
  width: 5px;
  height: 5px;
  top: -3px;
  right: 50%;
  transform: translateX(50%);
  border: solid 1px black;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.save-titel p {
  font-size: 13px;
  line-height: 25px;
  color: #a8a8a8;
  font-weight: 300;
  text-align: center;
}
/*End global ruls */
/* small */
@media (min-width: 786px) {
  .container {
    width: 700px;
  }
}
/* medium */
@media (min-width: 992px) {
  .container {
    width: 800px;
  }
}
/* large */
@media (min-width: 1200px) {
  .container {
    width: 900px;
  }
}
/* Start Home */
.home .header {
  z-index: 2;
  position: absolute;
  width: 100%;
}
.home .header .contain {
  grid-column: 3 / 12;
  display: flex;
  justify-content: space-between;
  position: relative;
}
.header .contain::after {
  content: "";
  position: absolute;
  width: calc(100% - 12px);
  height: 1px;
  background-color: #ffffff6d;
  bottom: 0;
  left: 12px;
  z-index: 1;
}
.home .header .contain .ligo img {
  height: 45px;
  margin-top: 5px;
}
.home .header .contain .links {
  display: flex;
  justify-content: flex-end;
}
.home .header .contain .links .border {
  align-items: center;
  height: var(--min-height);
  display: none;
  color: white;
  padding: 2px;
  padding-left: 5px;
  transform: translateY(-2%);
  font-size: 20px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.home .header .contain .links ul {
  display: flex;
}
.home .header .contain .links ul a {
  color: white;
  height: var(--min-height);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  color: #fff;
  font-weight: 600;
  margin-right: 14px;
}
@media (max-width: 880px) {
  .home .header .contain .links ul a {
    font-size: 11px;
    font-weight: 500;
    margin-right: 12px;
  }
}
.home .header .contain .links ul a:hover {
  color: var(--min-color);
  border-bottom: solid 1px;
  border-color: var(--min-color);
}
@media (max-width: 785px) {
  .home .header .contain .links ul {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    flex-direction: column;
    width: 35%;
    background-color: #f0f8ff4f;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
  }
  .home .header .contain .links .nav:hover .border {
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
  }
  .home .header .contain .links .nav:hover .border + ul {
    display: flex;
  }
  .home .header .contain .links ul a {
    font-size: 10px;
    font-weight: 900;
    color: black;
    border-bottom: solid 1px black;
    margin: 0;
    height: 40px;
  }
  .home .header .contain .links ul li:last-child a {
    border: none;
  }
  .home .header .contain .links .border {
    display: flex;
  }
}
.home .header .contain .links .icon {
  align-items: center;
  display: flex;
  transform: translateY(-2%);
  font-size: 14px;
  margin-left: 10px;
}
.home .header .contain .links .icon .search {
  color: white;
  border: solid 2px;
  border-color: transparent transparent transparent rgb(255, 255, 255);
  padding: 2px;
  padding-left: 5px;
}
.home .header .contain .links .icon .search:hover {
  color: #ffffff79;
  border-color: rgba(255, 255, 255, 0.667);
  border-radius: 6px;
  padding-right: 50px;
}
/* Start landing  */
.home .landing {
  background-image: url(../imeg/landing-one.png);
  filter: contrast(0.8);
  min-height: 100vh;
  background-size: cover;
  position: relative;
  -webkit-filter: contrast(0.8);
}
.home .landing::before {
  content: "<";
  position: absolute;
  width: 50px;
  height: 50px;
  margin-left: 21px;
  font-size: 35px;
  font-weight: 600;
  color: #fff;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  z-index: 1;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
.home .landing::after {
  content: ">";
  position: absolute;
  width: 50px;
  height: 50px;
  font-size: 35px;
  font-weight: 600;
  color: #fff;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  z-index: 1;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
@media (max-width: 675px) {
  .home .landing {
    min-height: 75vh;
    position: relative;
    display: flex;
    align-items: center;
  }
}
@media (max-width: 500px) {
  .home .landing {
    min-height: 45vh;
  }
}
.home .landing .info {
  background-color: var(--min-color-opacity);
  grid-column: 1 / 9;
  grid-row: 4 / 6;
  display: flex;
  justify-content: flex-end;
  max-height: 250px;
}
.home .landing .info .content {
  width: 65%;
  padding-right: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.home .landing .info .content h3 {
  font-size: 30px;
  line-height: 50px;

  color: #fff;
  font-weight: 400;
  margin-bottom: 10px;
}
.home .landing .info .content p {
  font-size: 13px;
  line-height: 28px;
  color: #fff;
  font-weight: 400;
}
@media (max-width: 800px) {
  .home .landing {
    display: flex;
    align-items: center;
  }
  .home .landing .info {
    width: 90%;
  }
}
@media (max-width: 675px) {
  .home .landing .info {
    width: 90%;
    height: 115px;
  }
  .home .landing .info .content {
    width: 80%;
  }
  .home .landing .info .content h3 {
    font-size: 12px;
    line-height: 20px;
    font-weight: 300;
    margin-bottom: 5px;
  }
  .home .landing .info .content p {
    font-size: 8px;
    line-height: 13px;
    font-weight: 300;
  }
}
.home .landing .navigation {
  position: absolute;
  display: flex;
  justify-content: center;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}
.home .landing .navigation .left {
  width: var(--min-nav-siz);
  height: var(--min-nav-siz);
  border-radius: 50%;
  border: 2px solid #fff;
}
.home .landing .navigation .mid {
  background-color: var(--min-color);
  width: var(--min-nav-siz);
  height: var(--min-nav-siz);
  border-radius: 50%;
  border: 2px solid #fff;
  margin-left: 3px;
  margin-right: 3px;
}
.home .landing .navigation .right {
  width: var(--min-nav-siz);
  height: var(--min-nav-siz);
  border-radius: 50%;
  border: 2px solid #fff;
}

/* start services */
.services {
  padding-bottom: 20px;
}
.services .container {
  display: block;
}
.services .container .total-services {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  row-gap: 40px;
  column-gap: 40px;
}
.services .container .total-services .service-edit {
  display: grid;
  grid-template-columns: 47px auto;
  column-gap: 10px;
}
.services .container .total-services .icon {
  width: 47px;
  height: 40px;
  position: relative;
  margin-left: 10px;
}
.services .container .total-services .icon i {
  color: #000;
  position: absolute;
  font-size: x-large;
  top: 50%;
  left: 0;
  transform: translatey(-50%);
  -webkit-transform: translatey(-50%);
  -moz-transform: translatey(-50%);
  -ms-transform: translatey(-50%);
  -o-transform: translatey(-50%);
}
.services .container .total-services .text h3 {
  font-size: 20px;
  color: #00c7fc;
  font-weight: 400;
  margin-bottom: 10px;
}
.services .container .total-services .text p {
  font-size: 13px;
  line-height: 24px;
  color: #a8a8a8;
  font-weight: 400;
}
/* start Phone Advertise */
.phone-ad {
  background-image: url(../imeg/img-two.png);
  filter: contrast(0.8);
  min-height: 40vh;
  background-size: cover;
  -webkit-filter: contrast(0.8);
  grid-template-rows: repeat(4, 1fr);
  overflow: hidden;
}
.phone-ad .info {
  background-color: var(--min-color-opacity);
  grid-column: 9 / 14;
  grid-row: 2 / 4;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  z-index: 2;
}
.phone-ad .info .content {
  margin: 20px 0 20px 30px;
}
.phone-ad .info .content h5 {
  font-size: 20px;
  color: #fff;
  font-weight: 400;
  margin-bottom: 20px;
}
.phone-ad .info .content div {
  display: flex;
}
.phone-ad .info .content div i {
  margin-top: 5px;
  font-size: 12px;
  margin-left: 10px;
}
.phone-ad .info .content h6 {
  font-size: 16px;
  color: #fff;
  font-weight: 400;
  margin-bottom: 5px;
  margin-left: 10px;
}
.phone-ad .phones {
  grid-column: 5 / 6;
  grid-row: 2 / 5;
  margin-top: 20px;
  position: relative;
  bottom: -40px;
}
.phone-ad .phones .phone-one {
  width: 120px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 3;
}
.phone-ad .phones .phone-two {
  width: 115px;
  position: absolute;
  bottom: 0;
  left: 65px;
  z-index: 1;
}
@media (max-width: 675px) {
  .phone-ad {
    grid-template-rows: repeat(5, 1fr);
  }
  .phone-ad .info {
    grid-column: 5 / 14;
    grid-row: 2 / 4;
  }
  .phone-ad .phones {
    grid-column: 2 / 6;
    grid-row: 5 / 5;
  }
}
/* Start portfolio */
.portfolio .container {
  display: block;
}
.portfolio .container .menu {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding-bottom: 10px;
}
.portfolio .container .menu a {
  font-size: 13px;
  letter-spacing: 1px;
  line-height: 30px;
  color: #1f2021;
  font-weight: 400;
  text-align: center;
  padding: 0 10px;
}
.portfolio .container .menu a:hover {
  background-color: var(--min-color);
  color: #fff;
}
.portfolio .images {
  margin-top: 20px;
  overflow: hidden;
}
.portfolio .images .container-img {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.portfolio .images .container-img .box {
  flex-basis: 25%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.portfolio .images .container-img .img-w {
  position: relative;
}
.portfolio .images .container-img .img-w:hover {
  filter: brightness(0.8);
}
.portfolio .images .container-img .img-w:hover .titel {
  bottom: 0%;
}
.portfolio .images .container-img .img-w img {
  max-width: 100%;
}
.portfolio .images .container-img .img-m img {
  max-width: 55%;
  max-height: 80%;
}
.portfolio .images .container-img .img-m:hover img {
  transform: rotate(40deg) scale(1.2, 1.2);
  -webkit-transform: rotate(40deg) scale(1.2, 1.2);
  -moz-transform: rotate(40deg) scale(1.2, 1.2);
  -ms-transform: rotate(40deg) scale(1.2, 1.2);
  -o-transform: rotate(40deg) scale(1.2, 1.2);
}
.portfolio .images .img-w .titel {
  position: absolute;
  bottom: -100%;
  width: 100%;
  padding: 15px 0;
  background-color: #e1e1e1;
}
.portfolio .images .box .titel h4 {
  font-size: 20px;
  color: #1f2021;
  font-weight: 400;
  text-align: center;
  margin-bottom: 5px;
}
.portfolio .images .box .titel p {
  font-size: 13px;
  color: #00c7fc;
  font-weight: 400;
  text-align: center;
}
@media (max-width: 775px) {
  .portfolio .images .img-w .titel {
    padding: 2px 0;
  }
  .portfolio .images .box .titel h4 {
    font-size: 10px;
    margin-bottom: 1px;
  }
  .portfolio .images .box .titel p {
    font-size: 8px;
  }
}
.portfolio .bottom-more .titel {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
}
.portfolio .bottom-more .titel a {
  margin-top: 15px;
  width: 100px;
  height: min-content;
  padding: 5px 0;
  font-size: 20px;
  letter-spacing: 1px;
  color: #ffffff;
  font-weight: 400;
  text-align: center;
  background-color: var(--min-color);
}
.portfolio .video {
  position: relative;
}
.portfolio .video video {
  width: 100%;
}
.portfolio .video .box {
  background-color: var(--min-color-opacity);
  position: absolute;
  width: 100%;
  top: 50%;
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
.portfolio .video .box h3 {
  font-size: 25px;
  color: #ffffff;
  font-weight: 600;
}
.portfolio .video .box p {
  font-size: 13px;
  color: #ffffff;
  font-weight: 400;
  margin: 20px 0;
}
.portfolio .video .box .bottom {
  padding: 2px 20px;
  background-color: #333;
  color: #fff;
  font-size: 13px;
  letter-spacing: 1px;
  line-height: 30px;
  color: #ffffff;
  font-weight: 400;
}
@media (max-width: 775px) {
  .portfolio .video .box {
    padding: 15px 0;
  }
  .portfolio .video .box h3 {
    font-size: 15px;
  }
  .portfolio .video .box p {
    font-size: 8px;
    margin: 7px 0;
  }
  .portfolio .video .box .bottom {
    padding: 2px 15px;
    font-size: 8px;
    letter-spacing: 0px;
    line-height: 18px;
  }
}
/* Start About Us */
.about-us {
  overflow: hidden;
}
.about-us .screens {
  display: flex;
  justify-content: center;
}
.about-us .screens img {
  max-width: 500px;
  margin-bottom: -110px;
}
@media (max-width: 775px) {
  .about-us .screens img {
    max-width: 330px;
    margin-bottom: -80px;
  }
}
.statistic {
  position: relative;
}
.about-us .statistic img {
  width: 100%;
  filter: brightness(0.5);
}
.statistic .container .box {
  position: absolute;
  background-color: var(--min-color-opacity);
  height: 50%;
  width: 80%;
  left: 10%;
  bottom: 25%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.statistic .container .box div {
  max-width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.statistic .container .box .font {
  width: 30px;
  height: 30px;
  background-color: #1f2021;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}
.statistic .container .box .font i {
  color: #ffffff;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
}
.statistic .container .box h3 {
  font-size: 51px;
  letter-spacing: 3px;
  line-height: 76px;
  color: #ffffff;
  font-weight: 700;
  margin: 7px 0;
  text-align: center;
}
.statistic .container .box p {
  font-size: 13px;
  line-height: 24px;
  color: #ffffff;
  font-weight: 300;
  text-align: center;
}
@media (max-width: 992px) {
  .statistic .container .box {
    height: 80%;
    width: 90%;
    left: 5%;
    bottom: 10%;
  }
  .statistic .container .box h3 {
    font-size: 44px;
    letter-spacing: 2px;
    line-height: 65px;
  }
  .statistic .container .box p {
    font-size: 10px;
    line-height: 20px;
  }
}
@media (max-width: 775px) {
  .statistic .container .box {
    height: 80%;
    width: 90%;
    left: 5%;
    bottom: 10%;
  }
  .statistic .container .box .font {
    width: 25px;
    height: 25px;
  }
  .statistic .container .box .font i {
    font-size: 12px;
  }
  .statistic .container .box h3 {
    font-size: 18px;
    letter-spacing: 2px;
    line-height: 36px;
    margin: 2px 0;
  }
  .statistic .container .box p {
    font-size: 9px;
    line-height: 2px;
  }
}
.skills {
  background-color: #fff;
}
.skills .container {
  /* background-color: #0084ff; */
  display: flex;
  margin: 50px auto;
  justify-content: flex-end;
}
@media (max-width: 775px) {
  .skills .container {
    flex-direction: column;
  }
}
.skills .container .flex {
  display: flex;
  flex-basis: calc(50% - 30px);
  flex-direction: column;
}
.skills .container .testimonials {
  margin-right: 40px;
}
@media (max-width: 775px) {
  .skills .container .testimonials {
    margin-right: 0;
  }
}
.skills .container .testimonials .titel {
  text-align: center;
  width: 80%;
  margin: auto;
  margin-bottom: 20px;
}
.skills .container .testimonials .titel h4 {
  font-size: 20px;
  line-height: 24px;
  color: #1f2021;
  font-weight: 400;
}
.skills .container .testimonials .titel p {
  font-size: 13px;
  line-height: 25px;
  color: #a8a8a8;
  font-weight: 300;
  margin: 20px auto;
}
.skills .container .testimonials .post {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  position: relative;
}
.skills .container .testimonials .post img {
  position: absolute;
  left: 0;
  top: 0;
  width: 65px;
  margin-left: 20px;
  border-radius: 50%;
}
.skills .container .testimonials .post div {
  width: 70%;
  display: flex;
  justify-content: flex-end;
  border-bottom: 1px solid #a9a9a9;
  padding-bottom: 15px;
  margin-bottom: 10px;
  font-size: 13px;
  line-height: 25px;
  color: #1f2021;
  font-weight: 300;
  padding-right: 25px;
}
.skills .container .testimonials .post div::after {
  content: "John Doe,CEO";
  position: absolute;
  right: 0;
  bottom: 0;
  transform: translateY(-40%);
  font-size: 13px;
  line-height: 24px;
  color: #a8a8a8;
  font-weight: 300;
  font-style: italic;
}
.skills .container .our-skills .titel {
  text-align: center;
  width: 80%;
  margin: 0 20px;
  margin-bottom: 20px;
}
@media (max-width: 775px) {
  .skills .container .our-skills .titel {
    margin: auto;
    margin-top: 39px;
    margin-bottom: 20px;
  }
}
.skills .container .our-skills .titel h4 {
  font-size: 20px;
  line-height: 24px;
  color: #1f2021;
  font-weight: 400;
  text-align: center;
}
.skills .container .our-skills .titel p {
  font-size: 13px;
  line-height: 25px;
  color: #a8a8a8;
  font-weight: 300;
  text-align: center;
}
.skills .container .our-skills .titel p {
  font-size: 13px;
  line-height: 25px;
  color: #a8a8a8;
  font-weight: 300;
  margin: 18px auto;
}
.skills .container .our-skills .box {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.skills .container .our-skills .box .path {
  position: relative;
  width: 100%;
  height: 20px;
  background-color: #dbdbdb;
}
.skills .container .our-skills .box .path div {
  position: absolute;
  background-color: var(--min-color);
  height: 100%;
  left: 0;
}
.skills .container .our-skills .box .adobe .path div {
  width: 95%;
}
.skills .container .our-skills .box .html .path div {
  width: 93%;
}
.skills .container .our-skills .box .javascript .path div {
  width: 85%;
}
.skills .container .our-skills .box .php .path div {
  width: 87%;
}
.skills .container .our-skills .box .path::before {
  background-color: #1f2021;
  color: #fff;
  text-align: center;
  position: absolute;
  font-size: 10px;
  font-weight: 800;
  width: 25px;
  height: 10px;
  padding: 4px;
  top: -23px;
  z-index: 2;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}
.skills .container .our-skills .box .adobe .path::before {
  content: "95%";
  left: 95%;
}
.skills .container .our-skills .box .html .path::before {
  content: "93%";
  left: 93%;
}
.skills .container .our-skills .box .javascript .path::before {
  content: "85%";
  left: 85%;
}
.skills .container .our-skills .box .php .path::before {
  content: "87%";
  left: 87%;
}
.skills .container .our-skills .box .path::after {
  content: "";
  position: absolute;
  width: 0px;
  height: 0px;
  top: -8px;
  transform: translateX(-50%);
  border: 7px solid;
  border-color: #1f2021 transparent transparent transparent;
}
.skills .container .our-skills .box .adobe .path::after {
  left: 95%;
}
.skills .container .our-skills .box .html .path::after {
  left: 93%;
}
.skills .container .our-skills .box .javascript .path::after {
  left: 85%;
}
.skills .container .our-skills .box .php .path::after {
  left: 87%;
}
.skills .container .our-skills .box div h4 {
  font-size: 13px;
  line-height: 24px;
  color: #1f2021;
  font-weight: 400;
  margin-left: 3px;
}
.about-us .quote {
  background-image: url(../imeg/quote-img.jpg);
  height: 45vh;
  background-size: cover;
  filter: contrast(0.8);
  -webkit-filter: contrast(0.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.about-us .quote .container .box p {
  font-size: 22px;
  line-height: 30px;
  color: #ffffff;
  font-weight: 600;
  text-align: center;
  text-shadow: 1px 4px 17px #000;
}
.about-us .quote .container .box div {
  font-size: 13px;
  color: #ffffff;
  font-weight: 600;
  text-align: center;
  margin-top: 20px;
}
/* Start Pricing */
.pricing {
  background-color: #fff;
  padding-bottom: 30px;
}
.pricing .container .prices {
  display: flex;
  gap: 3%;
}
.pricing .container .prices .prise {
  flex-basis: calc((100% - 9%) / 4);
  text-align: center;
  border-top: 1px solid;
  border-color: var(--min-color);
}
.pricing .container .prices .prise .plane div:first-child {
  font-size: 16px;
  line-height: 24px;
  color: #1f2021;
  font-weight: 400;
  text-align: center;
  margin-top: 10px;
}
.pricing .container .prices .prise .plane div:last-child {
  font-size: 59px;
  line-height: 89px;
  color: #1f2021;
  font-weight: 600;
  text-align: center;
  border-bottom: solid 1px;
  border-color: var(--min-color);
  position: relative;
}
.pricing .container .prices .prise .plane div:last-child::after {
  content: "$";
  position: absolute;
  top: 10px;
  left: 25px;
  font-size: 21px;
  line-height: 31px;
  color: #1f2021;
  font-weight: 600;
  font-family: "Open Sans";
  text-align: center;
}
.pricing .container .prices .prise .plane div:last-child span {
  font-size: 13px;
  line-height: 16px;
  color: #1f2021;
  font-weight: 600;
}
.pricing .container .prices .prise > div:not(.plane, .bay) {
  width: 70%;
  font-size: 16px;
  line-height: 24px;
  color: #1f2021;
  font-weight: 400;
  text-align: center;
  margin: auto;
  padding: 20px 0;
}
.pricing .container .prices .prise > div:not(.plane, .bay, .fff) {
  border-bottom: solid 1px;
  border-color: var(--min-color);
}
.pricing .container .prices .prise .bay {
  border-top: 1px solid;
  border-color: var(--min-color);
  padding-top: 15px;
}
.pricing .container .prices .prise .bay a {
  font-size: 16px;
  line-height: 24px;
  color: #1f2021;
  font-weight: 400;
  text-align: center;
  padding: 5px 15px;
  border: solid 1px var(--min-color);
}
.pricing .container .special-request .titel {
  margin-top: 60px;
  font-size: 20px;
  color: #1f2021;
  font-weight: 400;
  text-align: center;
}
.pricing .container .special-request .bottom {
  width: 100%;
  display: flex;
}
.pricing .container .special-request .bottom a {
  font-size: 16px;
  letter-spacing: 1px;
  color: #ffffff;
  font-weight: 400;
  text-align: center;
  background-color: var(--min-color);
  padding: 7px 20px;
  margin: 20px auto;
}
@media (max-width: 775px) {
  .pricing .container .prices .prise .plane div:first-child {
    font-size: 15px;
    line-height: 15px;
  }
  .pricing .container .prices .prise .plane div:last-child {
    font-size: 35px;
    line-height: 80px;
  }
  .pricing .container .prices .prise .plane div:last-child::after {
    top: 16px;
    left: 1px;
    font-size: 14px;
  }
  .pricing .container .prices .prise .bay a {
    font-size: 10px;
  }
  .pricing .container .prices .prise .plane div:last-child span {
    font-size: 10px;
  }
  .pricing .container .special-request .titel {
    margin-top: 50px;
    font-size: 18px;
  }
  .pricing .container .special-request .bottom a {
    font-size: 14px;
  }
  .pricing .container .prices .prise > div:not(.plane, .bay) {
    font-size: 15px;
    line-height: 17px;
    padding: 15px 0;
  }
}
.subscribe {
  background-image: url(../imeg/subscribe-img.png);
  height: 20vh;
  background-size: cover;
  filter: contrast(0.8);
  -webkit-filter: contrast(0.8);
  display: flex;
}
.subscribe .container {
  display: flex;
  gap: 10px;
  align-items: center;
}
.subscribe .container .mail-part {
  display: flex;
  flex-basis: 50%;
  border: 1px solid #ffffff;
}
.subscribe .container .mail-part div {
  width: 100%;
  display: flex;
  height: 40px;
}
.subscribe .container .mail-part div i {
  display: flex;
  font-size: 20px;
  margin: 10px;
  color: #ffffff;
}
.subscribe .container .mail-part div form {
  display: flex;
  width: 100%;
  height: 100%;
}
.subscribe .container .mail-part div form .a1a {
  all: unset;
  width: calc(100% - 100px);
  background-color: transparent;
  border: none;
  color: #ffffff;
  font-size: 13px;
  font-weight: 400;
}
.subscribe .container .mail-part div form .a2a {
  font-size: 13px;
  letter-spacing: 1px;
  color: #ffffff;
  font-weight: 400;
  text-align: center;
  width: 100px;
  background-color: var(--min-color);
  z-index: -1;
}
.subscribe .container .mail-part div form .a1a::placeholder {
  color: #ffffff;
  font-size: 13px;
  font-weight: 400;
}
.subscribe .container .titel {
  display: flex;
  flex-basis: calc(50% - 20px);
}
.subscribe .container .titel p {
  font-size: 13px;
  line-height: 24px;
  color: #ffffff;
  font-weight: 400;
}
@media (max-width: 775px) {
  .subscribe .container {
    flex-direction: column;
    justify-content: center;
  }
  .subscribe .container .mail-part {
    flex-basis: 0;
  }
  .subscribe .container .titel p {
    text-align: center;
  }
}
/* Start Contact Us */
.contact-us {
  background-color: #fff;
}
.contact-us .container .message {
  width: 700px;
}
.contact-us .container .message form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.contact-us .container .message form .name {
  width: calc(100% - 20px);
  height: 60px;
  border: 1px solid #dbdbdb;
  padding: 10px;
}
.contact-us .container .message form .name:focus {
  border: 2px solid #000;
}
.contact-us .container .message form .name::placeholder {
  font-size: 13px;
  letter-spacing: 1px;
  color: #1f2021;
  font-weight: 400;
}
.contact-us .container .message form .mail {
  width: calc(100% - 20px);
  height: 60px;
  border: 1px solid #dbdbdb;
  padding: 10px;
}
.contact-us .container .message form .mail:focus {
  border: 2px solid #000;
}
.contact-us .container .message form .mail::placeholder {
  font-size: 13px;
  letter-spacing: 1px;
  color: #1f2021;
  font-weight: 400;
}
.contact-us .container .message form .your-message {
  resize: none;
  width: 100%;
  height: 200px;
  border: 1px solid #dbdbdb;
  padding: 10px;
}
.contact-us .container .message form .your-message::placeholder {
  font-size: 13px;
  letter-spacing: 1px;
  color: #1f2021;
}
.contact-us .container .message form div {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin: 30px 0;
}
.contact-us .container .message form div .bottom {
  display: flex;
  width: 160px;
  height: 50px;
  background-color: #00c7fc;
  text-align: center;
  font-size: 13px;
  letter-spacing: 1px;
  color: #ffffff;
  font-weight: 400;
}
.contact-us .container .box {
  display: flex;
}
.contact-us .container .box .info {
  display: flex;
  flex-direction: column;
  gap: 120px;
}
.contact-us .container .box .info .titel-one {
  margin-left: 20px;
}
.contact-us .container .box .info .titel-one .titel {
  font-size: 13px;
    letter-spacing: 1px;
    color: #1f2021;
    font-weight: 400;
    margin-bottom: 25px;
}
.contact-us .container .box .info .titel-one .num {
  font-size: 13px;
letter-spacing: 1px;
color: #a8a8a8;
font-weight: 400;
}
.contact-us .container .box .info .titel-two {
  margin-left: 20px;
}
.contact-us .container .box .info .titel-two .titel {
  font-size: 13px;
    letter-spacing: 1px;
    color: #1f2021;
    font-weight: 400;
    margin-bottom: 25px;
}
.contact-us .container .box .info .titel-two .address {
  font-size: 13px;
letter-spacing: 1px;
color: #a8a8a8;
font-weight: 400;
}
@media (max-width: 775px) {
  .contact-us .container .message {
    width: 100%;
}
  .contact-us .container .message form div {
    justify-content: center;
}
  .contact-us .container .box {
    flex-direction: column;
  }
  .contact-us .container .box .info {
    display: flex;
    margin-bottom: 30px;
    gap: 60px;
    flex-direction: row;
}
}
/* Start Footer */
.footer {
  background-image: url(../imeg/footer-img.png);
  height: 30vh;
  background-size: cover;
  filter: contrast(0.8);
  -webkit-filter: contrast(0.8);
}
.footer .container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.footer .container .box {
  margin-top: 20px;
}
.footer .container .box .logo {
  display: flex;
  justify-content: center;
}
.footer .container .box .logo img {
  width: 150px;
}
.footer .container .box .social {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
}
.footer .container .box .social .titel {
  font-size: 20px;
  letter-spacing: 1px;
  color: #ffffff;
  font-weight: 400;
  text-align: center;
}
.footer .container .box .social hr {
  width: 100%;
  height: 1px;
  background-color: #ffffff;
  margin: 10px 0;
}
.footer .container .box .social .icons {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.footer .container .box .social .icons i {
  width: 7px;
  height: 14px;
}
.footer .container .copyright {
  font-size: 15px;
  color: #ffffff;
  font-weight: 600;
}
.footer .container .copyright span {
  color: var(--min-color);
}
.footer div,
p {
  color: white;
}
